In [2]:
'''Инструкция к сдаче
Настоятельно рекомендуем сдавать практическое задание в виде ссылки на личный репозиторий на github.
Рекомендуемый способ организации данных в репозитории: создать отдельные папки по темам и помещать в них отдельные файлы для каждой задачи с правильным расширением.

Ссылка на инструкцию по работе с git и сдачу практики:
https://docs.google.com/document/d/1RAT_ukE39iOfbz1xa39QXae2hBUEZ4U6Fko_wFDdrsM/edit
Ссылка на видеокурс по Git:
https://geekbrains.ru/courses/66
Если остались сложности с системой git, то обратитесь к преподавателю или наставнику.

Тема “Вычисления с помощью Numpy”
Задание 1
Импортируйте библиотеку Numpy и дайте ей псевдоним np.
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение. Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.
Задание 2
Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.
Задание 3
Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.
Задание 4**
Число, которое мы получили в конце задания 3 является ковариацией двух признаков, содержащихся в массиве “а”. В задании 4 мы делили сумму произведений центрированных признаков на N-1, а не на N, поэтому полученная нами величина является несмещенной оценкой ковариации.
Подробнее узнать о ковариации можно здесь:
https://studopedia.ru/9_153900_viborochnaya-kovariatsiya-i-viborochnaya-dispersiya.html
В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”. В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.

Тема “Работа с данными в Pandas”
Задание 1
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные: 
[1, 1, 1, 2, 2, 3, 3], 
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].
Задание 2
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.
Задание 3
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.
Задание 4
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора,минимальная, максимальная и средняя цена на книги этого автора.
Задание 5**
Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

'''
print('Hello teacher')

Hello teacher

In [3]:
# Working with numpy
import numpy as np

In [4]:
# Task 1
'''Импортируйте библиотеку Numpy и дайте ей псевдоним np.
Создайте массив Numpy под названием a размером 5x2, то 
есть состоящий из 5 строк и 2 столбцов. Первый столбец
должен содержать числа 1, 2, 3, 3, 1, а второй - числа
6, 8, 11, 10, 7. Будем считать, что каждый столбец - это
признак, а строка - наблюдение. Затем найдите среднее значение
по каждому признаку, используя метод mean массива Numpy.
Результат запишите в массив mean_a, в нем должно быть 2 элемента.
'''
a = np.array([[1, 2, 3, 3, 1],[6, 8, 11, 10, 7]])
a = a.transpose(None)
mean_a=a.mean(axis=0)
a.shape

(5, 2)

In [5]:
# Task 2
'''Вычислите массив a_centered, отняв от значений массива “а” 
средние значения соответствующих признаков, содержащиеся в 
массиве mean_a. Вычисление должно производиться в одно действие.
Получившийся массив должен иметь размер 5x2.'''
a_centered=np.subtract(a, mean_a)
a_centered.shape

(5, 2)

In [10]:
# Task 3
'''Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться 
величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.'''
a_centered_sp = np.dot(a_centered[:,0], a_centered[:,1])
a_centered_sp
a_cov = a_centered_sp/4
a_cov

2.0

In [15]:
# Task 4
'''Число, которое мы получили в конце задания 3 является ковариацией двух
признаков, содержащихся в массиве “а”. В задании 4 мы делили сумму произведений
центрированных признаков на N-1, а не на N, поэтому полученная нами величина
является несмещенной оценкой ковариации.
Подробнее узнать о ковариации можно здесь:
https://studopedia.ru/9_153900_viborochnaya-kovariatsiya-i-viborochnaya-dispersiya.html
В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом
- с помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать
транспонированный массив “a”. В получившейся ковариационной матрице (массив Numpy размером 2x2)
искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.
'''

a_transpose = a.transpose(None)
a_transpose
a_cov_method_2 = np.cov(a_transpose)
print(a_cov_method_2)
print (a_cov_method_2[])

array([[1. , 2. ],
       [2. , 4.3]])

In [ ]:
# Working with Pandas

In [16]:
# Task 1
'''Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, 
в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные: 
[1, 1, 1, 2, 2, 3, 3], 
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].
'''
import pandas as pd

In [17]:
authors_id = [1,2,3]
author_name = ['Тургенев', 'Чехов', 'Островский']
book_author_id = [1, 1, 1, 2, 2, 3, 3]
book_title = ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники']
price =[450, 300, 350, 500, 450, 370, 290]

In [20]:
authors = pd.DataFrame(
    {'Author_id': authors_id,
    'author_name': author_name}
                      )
print(authors)

   Author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [22]:
books = pd.DataFrame(
    {'Author_id': book_author_id,
     'Book Title': book_title,
    'Price': price}
                      )
print(book)

   Author_id            Book Title  Price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [28]:
# Task 2
'''Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.'''
authors_price  =  pd.merge(authors, books, on='Author_id', how='left')
print(authors_price)

   Author_id author_name            Book Title  Price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [31]:
# Task 3
'''Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.'''
top_5 = authors_price.nlargest(5, 'Price')
top_5

   Author_id author_name         Book Title  Price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [38]:
# Task 4
'''Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора,минимальная, максимальная и средняя цена на книги этого автора.
'''
df1 = authors_price.groupby('author_name').agg({'Price': 'min'}).rename(columns={'price':'min_price'})
df2 = authors_price.groupby('author_name').agg({'Price': 'max'}).rename(columns={'price':'max_price'})
df3 = authors_price.groupby('author_name').agg({'Price': 'mean'}).rename(columns={'price':'mean_price'})
authors_stat=pd.concat([df1, df2, df3], axis = 1)
authors_stat

             Price  Price       Price
author_name
Островский     290    370  330.000000
Тургенев       300    450  366.666667
Чехов          450    500  475.000000

In [42]:
'''Задание 5**
Создайте новый столбец в датафрейме authors_price под названием cover,
в нем будут располагаться данные о том, какая обложка у данной книги
- твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].'''

df1 = pd.DataFrame({'cover':['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']}, columns=['cover'])
authors_price = pd.concat([authors_price, df1], axis = 1)
authors_price

'''Просмотрите документацию по функции pd.pivot_table с помощью вопросительного
знака.'''
?pd.pivot_table

Signature:
pd.pivot_table(
    data,
    values=None,
    index=None,
    columns=None,
    aggfunc='mean',
    fill_value=None,
    margins=False,
    dropna=True,
    margins_name='All',
    observed=False,
)
Docstring:
Create a spreadsheet-style pivot table as a DataFrame. The levels in
the pivot table will be stored in MultiIndex objects (hierarchical
indexes) on the index and columns of the result DataFrame.

Parameters
----------
data : DataFrame
values : column to aggregate, optional
index : column, Grouper, array, or list of the previous
    If an array is passed, it must be the same length as the data. The
    list can contain any of the other types (except list).
    Keys to group by on the pivot table index.  If an array is passed,
    it is being used as the same manner as column values.
columns : column, Grouper, array, or list of the previous
    If an array is passed, it must be the same length as the data. The
    list can contain any of the other types (except list).
    Keys to group by on the pivot table column.  If an array is passed,
    it is being used as the same manner as column values.
aggfunc : function, list of functions, dict, default numpy.mean
    If list of functions passed, the resulting pivot table will have
    hierarchical columns whose top level are the function names
    (inferred from the function objects themselves)
    If dict is passed, the key is column to aggregate and value
    is function or list of functions
fill_value : scalar, default None
    Value to replace missing values with
margins : boolean, default False
    Add all row / columns (e.g. for subtotal / grand totals)
dropna : boolean, default True
    Do not include columns whose entries are all NaN
margins_name : string, default 'All'
    Name of the row / column that will contain the totals
    when margins is True.
observed : boolean, default False
    This only applies if any of the groupers are Categoricals.
    If True: only show observed values for categorical groupers.
    If False: show all values for categorical groupers.

    .. versionchanged :: 0.25.0

Returns
-------
DataFrame

See Also
--------
DataFrame.pivot : Pivot without aggregation that can handle
    non-numeric data.

Examples
--------
>>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
...                          "bar", "bar", "bar", "bar"],
...                    "B": ["one", "one", "one", "two", "two",
...                          "one", "one", "two", "two"],
...                    "C": ["small", "large", "large", "small",
...                          "small", "large", "small", "small",
...                          "large"],
...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
>>> df
     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

This first example aggregates values by taking the sum.

>>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
...                     columns=['C'], aggfunc=np.sum)
>>> table
C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

We can also fill missing values using the `fill_value` parameter.

>>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
...                     columns=['C'], aggfunc=np.sum, fill_value=0)
>>> table
C        large  small
A   B
bar one      4      5
    two      7      6
foo one      4      1
    two      0      6

The next example aggregates by taking the mean across multiple columns.

>>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
...                     aggfunc={'D': np.mean,
...                              'E': np.mean})
>>> table
                D         E
A   C
bar large  5.500000  7.500000
    small  5.500000  8.500000
foo large  2.000000  4.500000
    small  2.333333  4.333333

We can also calculate multiple types of aggregations for any given
value column.

>>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
...                     aggfunc={'D': np.mean,
...                              'E': [min, max, np.mean]})
>>> table
                D    E
            mean  max      mean  min
A   C
bar large  5.500000  9.0  7.500000  6.0
    small  5.500000  9.0  8.500000  8.0
foo large  2.000000  5.0  4.500000  4.0
    small  2.333333  6.0  4.333333  2.0
File:      c:\programdata\anaconda3\lib\site-packages\pandas\core\reshape\pivot.py
Type:      function

In [43]:
'''Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой 
обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны 
называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. 
Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.'''
book_info = pd.pivot_table(authors_price, values='Price', index=['author_name'],
                    columns=['cover'], aggfunc=np.sum, fill_value=0)
book_info

'''Назовите полученный датасет book_info и сохраните его в формат pickle под названием
"book_info.pkl". '''

book_info.to_pickle('book_info.pkl')

'''Затем загрузите из этого файла датафрейм и назовите его book_info2.'''

book_info2 = pd.read_pickle('book_info.pkl')

'''Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.'''



book_info==book_info2

ValueError: Grouper for 'cover' not 1-dimensional